.input-budget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
}

.searchInput {
    background-color: black;
    color: white;
    border: 1px solid black;
    height: 30px;
    width: 300px;
    outline: none;
    transition: 200ms ease-in-out;
}

.searchInput:focus {
    border: 1px solid white;
}

